@charset "ISO-8859-1";
.redSocial{
	height: 50px;
	margin-left: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.imagenFooter{
	height: 150px;
}

.derechos{
	color: gray;
	font-size: 10px;
}

.menuQuienesSomos{
	color:green;
}
.formularioRegistro{
	border-radius: 5px;
	height: 30px;
}