@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

body {
	font-family: Verdana;
	margin: 0;
}
.mantenimientoProductos {
	margin-top: 100px;
	margin-bottom: 100px;
}
/* Modifica la imagen insertada*/
.imagenMantenimiento {
	text-align: center;
	}
/*Modifica el h1*/
.h1Mantenimiento {
	font-family: verdana;
	color: #63a010;
	font-size: 350%;
	font-weight: bold;
}

/*Modificar el texto de la página en mantenimiento. */
.textoMantenimiento {
	font-size: 180%;
}